Repository cloudposse-examples/atmos-pro-example-advanced, pull requests merged in 2024-06, with the labels that each got.

#2 Validate Describe Affected
  .github/workflows/atmos-preview.yaml
  components/docker/infrastructure/Dockerfile
  rootfs/usr/local/etc/atmos/atmos.yaml
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration, container, automation

#3 Release Drafter
  .github/auto-release.yml
  .github/workflows/auto-release.yml
Labels: automation

#4 Corrected Release Drafter
  .github/workflows/auto-release.yml
Labels: automation

#5 Fix Release Drafter
  .github/draft-release.yaml
  .github/workflows/draft-release.yaml
Labels: automation

#6 Plan Dispatch Workflow
  .github/workflows/atmos-terraform-apply.yaml
  .github/workflows/atmos-terraform-plan.yaml
  components/terraform/account-map/modules/iam-roles/main.tf
  components/terraform/account-map/outputs.tf
Labels: automation

#7 Terraform Apply Workflows
  .github/actions/retrieve-plan/action.yaml
  .github/workflows/atmos-terraform-apply.yaml
  .github/workflows/atmos-terraform-plan.yaml
Labels: automation

#8 Feat: Test Atmos Pro Endpoint and Concurrency
  .github/workflows/atmos-preview.yaml
  .github/workflows/atmos-release.yaml
  .github/workflows/atmos-terraform-apply.yaml
  .github/workflows/atmos-terraform-plan.yaml
Labels: automation

#9 Demo: 06-20-2024
  .github/workflows/atmos-preview.yaml
  .github/workflows/atmos-terraform-apply.yaml
  .github/workflows/atmos-terraform-plan.yaml
Labels: automation

#11 Removed Placeholders and Get Latest Release
  .github/workflows/atmos-release.yaml
  .github/workflows/atmos-terraform-apply.yaml
  .github/workflows/atmos-terraform-plan.yaml
Labels: automation

#10 make simple change
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration

#15 Fix Release Workflow
  .github/workflows/atmos-release.yaml
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration, automation

#16 Corrected Release Atmos Pro API Call
  .github/workflows/atmos-preview.yaml
  .github/workflows/atmos-release.yaml
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration, automation

#17 Add atmos-include-dependents flag to release workflow
  .github/workflows/atmos-release.yaml
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration, automation

#18 Corrected Apply `run-name`
  .github/workflows/atmos-terraform-apply.yaml
Labels: automation

#19 demo
  .github/workflows/atmos-preview.yaml
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration, automation

#20 demo
  .github/workflows/atmos-preview.yaml
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration, automation

#21 demo change
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration

#23 demo change
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration

#25 demo change
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration

#27 demo change 10
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration

#29 demo change
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration

#31 demo change
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration

#33 another demo
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration
