Repository cloudposse-examples/atmos-pro-example-advanced, pull requests merged in 2024-07, with the labels that each got.

#38 demo 16
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration

#40 demo 17
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration

#42 Mock Components
  components/terraform/cluster/context.tf
  components/terraform/cluster/main.tf
  components/terraform/cluster/versions.tf
  components/terraform/load-balancer/context.tf
  components/terraform/load-balancer/main.tf
  components/terraform/load-balancer/versions.tf
  components/terraform/network/context.tf
  components/terraform/network/main.tf
  components/terraform/network/versions.tf
  stacks/catalog/cluster.yaml
  stacks/catalog/load-balancer.yaml
  stacks/catalog/network.yaml
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
  stacks/orgs/ex1/plat/prod/us-east-2/demo.yaml
  stacks/orgs/ex1/plat/staging/us-east-2/demo.yaml
Labels: configuration

#43 demo 18
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration

#45 demo 19
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration

#47 demo 20
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration

#49 demo 21
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration

#52 Removed all S3 Mock Components
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
  stacks/orgs/ex1/plat/prod/us-east-2/demo.yaml
  stacks/orgs/ex1/plat/staging/us-east-2/demo.yaml
Labels: configuration

#54 Feature/demo 22
  .github/workflows/atmos-preview.yaml
  .github/workflows/atmos-release.yaml
  stacks/orgs/ex1/plat/dev/us-east-2/demo.yaml
Labels: configuration, automation

#55 Change GitOps AWS Team Role to `planner`
  rootfs/usr/local/etc/atmos/atmos.yaml
Labels: container

#56 Use `planners` AWS Team
  rootfs/usr/local/etc/atmos/atmos.yaml
Labels: container

#63 testing
  stacks/mixins/atmos-pro/default.yaml
Labels: configuration

#66 testing 12
  stacks/catalog/object-storage.yaml
Labels: configuration

#67 testing 13
  stacks/catalog/object-storage.yaml
Labels: configuration

#69 testing 14
  stacks/catalog/object-storage.yaml
Labels: configuration

#71 testing 15
  stacks/catalog/object-storage.yaml
Labels: configuration

#73 testing 16
  stacks/mixins/atmos-pro/default.yaml
Labels: configuration

#75 testing 17
  stacks/mixins/atmos-pro/default.yaml
Labels: configuration

#76 Testing/18
  stacks/catalog/object-storage.yaml
Labels: configuration

#78 testing 19
  stacks/catalog/object-storage.yaml
Labels: configuration

#80 Testing 20
  stacks/catalog/object-storage.yaml
Labels: configuration

#82 testing 21
  stacks/catalog/object-storage.yaml
Labels: configuration

#84 Testing 22
  stacks/catalog/object-storage.yaml
Labels: configuration

#86 testing 23
  stacks/catalog/object-storage.yaml
Labels: configuration

#88 demo 24
  stacks/catalog/object-storage.yaml
Labels: configuration
